= simple_form_for @topic, :html => {:multipart => true} do |f|
  = f.error_notification
  = display_base_errors @topic

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label "Image"
    = image_tag(@topic.avatar_url) if @topic.avatar?
    = f.file_field :avatar
    = f.hidden_field :avatar_cache
    - if @topic.avatar?
      %label
        = f.check_box :remove_avatar
        Remove avatar

  .actions
    = f.submit 'Save'
