= simple_form_for @showdown do |f|
  = f.error_notification
  = display_base_errors @showdown

  .field
    = f.label :name
    = f.text_field :name
    
  .field
    = f.label "Add Topic 1"
    = select_tag "topic_1", options_from_collection_for_select(@topics, "id", "name")
    
  .field
    = f.label "Add Topic 2"
    = select_tag "topic_2", options_from_collection_for_select(@topics, "id", "name")
  .field
    = link_to "Create topic", new_topic_url
  .actions
    = f.submit 'Save'
